/*
 * Theme Name:  TMS Theme Tampere Biennale
 * Description: Tampere Multisite Biennale Theme
 * Version:     1.0.0
 * Author:      Hion Digital
 * Author URI:  https://hiondigital.com
 * Template:    tms-theme-base
 * Text Domain: tms-theme-biennale
 */
