.page {
    &__hero {
        height: 35vh;
        background-position: top center;

        @include from($tablet) {
            height: 50vh;

            h1 {
                margin-bottom: $theme-spacing-four !important;
            }
        }

        @include from($desktop) {
            height: 80vh;
            min-height: 500px;
            max-height: 800px;
        }

        @media (min-width: 2200px) {
            height: 38vw;
            max-height: none;
        }

        .overlay {
            background: linear-gradient(
                rgba($black, 0) 0%,
                rgba($black, .5) 50%
            );
        }

        h1 {
            z-index: 1;
        }

        @include from($tablet) {
            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -285px;
                height: 300px;
                width: 30%;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: -1;
            }
            &::before {
                left: 0;
                background-image: url('../images/roots_9.svg');
                background-position: top left;
            }

            &::after {
                right: 0;
                background-image: url('../images/roots_12.svg');
                background-position: top right;
            }
        }
    }
}
