.single-dynamic-event-cpt,
.single-manual-event-cpt {
    .entry {
        &__hero-image {
            object-fit: cover;
        }

        &__hero-image-credits {
            @media (min-width: 768px) {
                position: absolute;
                left: 0;
                bottom: -2.5rem;
            }
        }

        &__hero-info {
            position: relative;

            * {
                position: relative;
                z-index: 3;
            }

            @include until($tablet) {
                .h2 {
                    font-size: 1.25rem !important;
                }
            }
        }

        .info-group__main-content {
            > p:first-of-type {
                margin-top: 0;
            }
        }

        .image-gallery {
            gap: 0;

            .icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2rem;
                width: 2rem;
            }
        }

        .logo-wall {
            &__item {
                max-width: 14rem !important;

                @include from($tablet) {
                    max-width: 20rem !important;
                }

                img {
                    object-fit: contain !important;
                    max-height: 10rem !important;
                }
            }
        }
    }
}
