// Font families
@font-face {
    font-family: "Montserrat";
    font-weight: 1 999;
    src: url("../fonts/Montserrat-VariableFont.ttf") format("truetype-variations");
}

@font-face {
    font-family: "Changa";
    font-weight: 1 999;
    src: url("../fonts/Changa-VariableFont.ttf") format("truetype-variations");
}

@font-face {
    font-family: "Cutive";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url("./../fonts/Cutive-Regular.ttf") format("truetype");
}
