// Font families
@font-face {
    font-family: "Montserrat";
    font-weight: 1 999;
    src: url("../fonts/Montserrat-VariableFont.ttf") format("truetype-variations");
}

@font-face {
    font-family: "Expletus Sans";
    font-weight: 1 999;
    src: url("../fonts/ExpletusSans-VariableFont.ttf") format("truetype-variations");
}
