// Font families
@font-face {
    font-family: "Montserrat";
    font-weight: 1 999;
    src: url("../fonts/Montserrat-VariableFont.ttf") format("truetype-variations");
}

/* kulim-park-light */
@font-face {
    font-family: 'Kulim Park';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/KulimPark-Light.ttf") format("truetype-variations");
}

/* kulim-park-light-italic */
@font-face {
    font-family: 'Kulim Park';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/KulimPark-LightItalic.ttf') format("truetype-variations");
}

/* kulim-park-regular */
@font-face {
    font-family: 'Kulim Park';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/KulimPark-Regular.ttf") format("truetype-variations");
}

/* kulim-park-regular-italic */
@font-face {
    font-family: 'Kulim Park';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/KulimPark-Italic.ttf') format("truetype-variations");
}

/* kulim-park-semibold */
@font-face {
    font-family: 'Kulim Park';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/KulimPark-SemiBold.ttf") format("truetype-variations");
}

/* kulim-park-semibold-italic */
@font-face {
    font-family: 'Kulim Park';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/KulimPark-SemiBoldItalic.ttf') format("truetype-variations");
}

/* kulim-park-bold */
@font-face {
    font-family: 'Kulim Park';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/KulimPark-Bold.ttf") format("truetype-variations");
}

/* kulim-park-bold-italic */
@font-face {
    font-family: 'Kulim Park';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/KulimPark-BoldItalic.ttf') format("truetype-variations");
}
