.hero {
    height: auto !important;
    position: relative;

    @include from($tablet) {
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -285px;
            height: 300px;
            width: 30%;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;
        }
        &::before {
            left: 0;
            background-image: url('../images/roots_9.svg');
            background-position: top left;
        }

        &::after {
            right: 0;
            background-image: url('../images/roots_12.svg');
            background-position: top right;
        }
    }

    @include until($tablet) {
        padding-left: 0;
        padding-right: 0;
    }

    &__content {
        background: linear-gradient(
            rgba($black, 0) 0%,
            rgba($black, .5) 50%
        );
        padding: $theme-spacing-two $theme-spacing-half;
    }

    &__carousel {
        &__item {
            position: relative;
            height: 65vh;
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
                z-index: -1;
            }

            @include from($tablet) {
                height: 85vh;
                min-height: 500px;
                max-height: 800px;
            }

            @media (min-width: 2200px) {
                height: 45vw;
                max-height: none;
            }

            h2,
            p {
                color: $primary-invert;
                text-shadow: 1px 1px 4px rgba($black, .9);
            }

            p {
                font-size: 1.25rem;
                font-weight: $weight-semibold;
                max-width: 100%;
                margin-bottom: 0;
            }

            .button:focus {
                outline-color: $white !important;
            }
        }
    }
}
