.site-header-notice,
.notice-banner {
    .notice-banner__content {
        a {
            font-weight: $weight-normal !important;
        }
    }

    h2 {
        color: currentColor;
    }

    &.has-background-primary {
        background-color: $color-biennale-green !important;
        color: $white !important;
    }

    &.has-background-secondary {
        background-color: $secondary !important;
        color: $black !important;
    }

    .icon {
        fill: currentColor !important;
    }
}

.notice-banner {
    &.has-background-primary {
        .icon.is-large {
           fill: $white !important;
        }
    }

    &.has-background-secondary {
        .icon.is-large {
            fill: $black !important;
        }
    }
}
